div  
{
height: 500px;
width: 500px;
background-color: magenta;
border: 6px double black;
padding: 96px;
box-sizing: border-box;
margin: 45px;
border-radius: 47% 53% 70% 30% / 98% 22% 78% 2% ;
background-image: linear-gradient( to left,red,yellow);
}