.parent
{ 
background-color:cyan;
}
.child1 
{
background-color:blue;
}
.child2
{
backgroung-color:blue;
position:fixed;
top:120px;
width:100px;
}
.child3
{
background-color:skyblue;
}

