div
{
height: 500px;
width: 500px;
box-shadow: 0px 0px 0px 5px orange;
filter:saturate(50%);
display: inline-block;
position:rekative;
margin:40px;
}
.rahul
{
height:30px;
width:30px;
display:inline-block;
color: aqua;
}
